./traced_model.pt
traced_model.pt
./weights/yolov7x.pt
/weights/yolov7x.pt
sheepRecognition/yolov7-deepsort/yolov7.pt
sheepRecognition/yolov7-deepsort/traced_model.pt
sheepRecognition/yolov7-main/yolov7.pt
sheepRecognition/yolov7-main/traced_model.pt
sheepRecognition/yolov7-deepsort/Demo.ipynb
sheepRecognition/yolov7-deepsort/.ipynb_checkpoints/Demo-checkpoint.ipynb